body {
    transition: width 2s;
}

.main {
    display: flex;
}

.item {
    border: 1px solid green;
    text-align: center;
}

.container {
    display: flex;
    border: 1px solid red;
    flex-direction: column;
}
